# --- Django core / API ---
Django==4.2.22
djangorestframework==3.16.1
django-filter>=24,<26
django-cors-headers==4.7.0

# --- Producción / Servido de estáticos / WSGI ---
gunicorn==21.2.0
whitenoise==6.7.0

# --- Base de datos (opcional: Postgres / MySQL) ---
psycopg[binary,pool]==3.2.1
pymysql==1.1.1

# --- Análisis de datos ---
pandas==2.2.2
numpy==2.0.2

# --- Utilidades varias ---
python-dateutil==2.9.0.post0
requests==2.32.3
cryptography==42.0.8
google-cloud-storage==2.15.0
Pillow==10.4.0

