# --- Django ---
DJANGO_SECRET_KEY=change-me-please
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# URL del front para CORS/CSRF
# Local:
FRONTEND_ORIGIN=http://localhost:5173
# Producción (cuando tengas el front):
# FRONTEND_ORIGIN=https://TU-DOMINIO-FRONT.railway.app

# --- Base de datos (Railway Postgres) ---
# Si estos quedan vacíos, usarás sqlite en local
PGHOST=
PGPORT=5432
PGUSER=
PGPASSWORD=
PGDATABASE=
